* {
  background-color: #e43a89;
  /* display: flex; */
}

:root {
  --value: 40%;
  --back-color: #e43a89;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
.buttons {
  margin-left: 2.5rem;
  width: 28rem;
}
.result {
  height: 90px;
  text-align: center;
  border-radius: 10px;
  background: #e43a89;
  box-shadow: inset -5px 5px 17px #cf357d, inset 5px -5px 17px #f93f95;
  display: flex;
  margin: 20px;
  justify-content: flex-end;
  width: 28rem;
}

.result-txt {
  padding: 5px;
  text-align: center;
  display: flex-end;
  font-size: 2.3rem;
}

.btn {
  border: none;
  align-items: center;
  box-shadow: 5px 5px 10px #c23174, -5px -5px 10px #ff439e;
  border-radius: 15px;
  justify-content: center;
  margin: 0.4rem;
  text-align: center;
  text-decoration: none;
  outline: solid transparent;
  cursor: pointer;
  font: inherit;
  height: 80px;
  width: 80px;
  font-size: 2.43rem;
  color: #2f3436;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(120%);
  border-radius: 15px;
  background: linear-gradient(225deg, #cd347b, #f43e93);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.head {
  color: #e07ac3;
  text-align: center;
}
